.button {
  border: none;
  outline: none;
  background-color: var(--navigation-button-dark-background);
  color: var(--button-content-color);

  width: 86px;
  height: 42px;

  font-weight: bold;

  white-space: nowrap;

  border-radius: 9999999999999px;

  cursor: pointer;
}

.button:hover {
  border: 2px solid var(--navigation-button-dark-hover-border);
}

.button_wide {
  width: 125px;
  height: 42px;

  background-color: var(--navigation-button-highlighted-background);
}

.button_wide:hover {
  border: 2px solid var(--navigation-button-highlighted-hover-border);
}

.button_homepage_content {
  width: 121px;
  height: 59px;

  border-radius: 1em;

  background-color: var(--button-homepage-content-background);
}

.button_cookie_deny,
.button_cookie_accept {
  padding: 24px 32px;
  border-radius: 1em;
}

.button_cookie_deny {
  width: 108px;
  height: 61px;

  color: var(--cookie-deny-button-text-color);

  background-color: var(--cookie-deny-button-background);
}

.button_cookie_accept {
  width: 126px;
  height: 61px;

  color: var(--cookie-accept-button-text-color);
  background-color: var(--cookie-accept-button-background);
}
