.section_header {
  color: var(--section-header-color);

  font-size: 36px;
  font-weight: bold;

  max-width: 864px;
  max-height: 120px;

  z-index: 10;

  text-transform: uppercase;

  user-select: none;
}

@media all and (max-width: 1080px) {
  .section_header {
    font-size: 24px;
  }
}
