.content_wrapper {
  display: flex;
  justify-content: space-around;

  width: 100%;
  min-height: 100%;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  gap: 20px;
}

.main_header {
  font-size: 48px;
  font-weight: bold;

  padding: 0;
  margin: 0;

  max-width: 600px;

  text-transform: uppercase;
}

.secondary_header {
  font-size: 18px;
  font-weight: bold;
}

.image {
  position: relative;

  align-self: flex-end;

  width: 450px;
  height: 262.5px;
}

.image img {
  z-index: 2;
}

.blur_circle {
  position: absolute;
  top: -30%;
  right: -15%;
  z-index: 1;

  width: 307px;
  height: 307px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #4148ff 0%,
    rgba(65, 72, 255, 0) 100%
  );
}
